@import "variables";

.container {
    height: 65vh;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    overflow: scroll;


}

.authContainer {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;

    h2 {
        color: $main-color;
        text-align: center;
        margin-bottom: 20px;
    }
}

.errorMessage {
    color: $error-color;
    background-color: #ffebee;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.title{
    flex: 1;
}

.authForm {
    flex: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.formInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
    width: 100%;
}

.formGroup {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    label {
        margin-bottom: 5px;
        font-weight: 500;
    }

    input,
    select {
        width: 100%;
        padding: 12px 24px 12px 8px;
        border: 1px solid #999;
        border-radius: 5px;
        font-size: 15px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: #3d2417;
        }
    }

    select {
        cursor: pointer;
    }
}

.authBtn {
    width: 100%;
    padding: 12px;
    background-color: #3d2417;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
        background-color: #271912;
        font-weight: bold;
        transform: scale(1.02);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.authLink {
    margin-top: 15px;
    text-align: center;

    a {
        color: #271912;
        text-decoration: none;
        padding-left: 5px;

        &:hover {
            color: $main-color;
            text-decoration: underline;
        }
    }
}



